/* Step 2 of COntainers and the Grid System*/
/*
.container {
    background-color: blue;
    height: 500px;
}
*/
/* Step 3 of COntainers and the Grid System*/
/*.container-fluid {
    background-color: blue;
    height: 500px;
}
    */